{%extends "base.html"%}

{% block headercss %}

<style>

    *{
        padding: 0;
        margin: 0;
    }
    .search{
        width: 50%;            
        margin: 100px auto;
        display: flex;
        /*border: 1px solid red;*/
    }
    .search input{
        float: left;
        flex: 4;
        height: 45px;
        outline: none;
        border: 1px solid rgb(255, 255, 255);
        box-sizing: border-box;
        padding-left: 10px;
    }
    .search button{
        float: right;
        flex: 1;
        height: 45px;
        background-color: #3c8dbc;
        color: white;
        border-style: none;
        outline: none;
    }
    .search button i{
        font-style: normal;
    }
    .search button:hover{
        font-size: 16px;
    }
</style>


{% endblock %}

{% block contentWrapper%}

<div class="content-wrapper">
  <!-- Main content -->
  
  <section class="content">
    
    
    <div class="row">
        <h2 class="text-center display-4">威胁情报查询</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="search">
                    <input type="text" placeholder="IP" name="ip"/>
                    <button><i>查询</i></button>
                </div>
            </form>
        {% if threats.ip != None %}
            <div class="col-xs-8 col-xs-offset-2">
                
                <div class="box">
                    <!-- <div class="box-header">
                        <h2 class="text-center display-4">威胁情报查询</h2>
                    </div> -->
                    <div class="box-body">
                        
                        <table id="suricata_list_table" class="table table-bordered table-hover">
                            <tr>
                                <th style="white-space:nowrap">IP</th>
                                <td>{{threats.ip}}</td>
                            </tr>          
            
                            {% if threats.severity != None %}
                                <tr>
                                    <th style="white-space:nowrap">IP安全级别</th>
                                    <td>{{threats.severity}}</td>
                                </tr>
                            {% endif %}
                            
                            {% if threats.locationname != None %}
                                <tr>
                                    <th style="white-space:nowrap">位置信息</th>
                                    <td>{{threats.locationname}}</td>
                                </tr> 
                            {% endif %}
                            {% if threats.carrier != None %}
                                <tr>
                                    <th style="white-space:nowrap">运营商</th>
                                    <td>{{threats.carrier}}</td>
                                </tr> 
                            {% endif %}
                            {% if threats.judgments != None %}
                                <tr>
                                    <th style="white-space:nowrap">威胁类型</th>
                                    <td class="text-danger">{{threats.judgments}}</td>
                                </tr> 
                            {% endif %}
                            {% if threats.confidence_level != None %}
                                <tr>
                                    <th style="white-space:nowrap">IP可信度</th>
                                    <td>{{threats.confidence_level}}</td>
                                </tr> 
                            {% endif %}
                                

                        </table>

                    </div>

                </div>
            </div>
        {% endif %}
        
    </div>
       
</section>
    <!-- <div >
        <table id="suricata_list_table" class="table table-bordered table-hover col-md-6">
            {% if threats.ip != None %}
            <tr>
                <th style="white-space:nowrap">IP</th>
                <td>{{threats.ip}}</td>
            </tr>
                      
            {% endif %}
        
            {% if threats.severity != None %}
                <tr>
                    <th style="white-space:nowrap">IP安全级别</th>
                    <td>{{threats.severity}}</td>
                </tr>
            {% endif %}

        </table>
        
            
    </div> -->

</div>

<!-- Main footer -->


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- jQuery -->
<script src="/static/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/dist/js/demo.js"></script>

{% endblock %}
{% block bodyjs %}

<script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/dataTables.buttons.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/jszip.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/buttons.html5.min.js"></script>

<script src="/static/bower_components/moment/min/moment.min.js"></script>
<script src="/static/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

<script>

function mFunc(){
    var datatable = $("#xray_list_table").DataTable();
    if (datatable) {
        datatable.clear();    //清空数据
        datatable.destroy();         //销毁datatable
    }
    tabledata();
    //table.ajax.reload();
}

  $(function () {

    $('#example').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
	$('#suricata_list_table').DataTable({
		"pageLength": 25,
		'autoWidth'   : true
	})
  })


</script>
<!-- <script>
    function delSuri(r_id){
	if(window.confirm('确定删除？')){
		$.ajax({
			type: "GET",

			url:"/suricata/delmor/"+r_id+'/',
				success:function (result) {
					if (result.code == 0) {
						alert('删除成功');
						window.location.href="/suricata/morlist/";
					}else{
						alert('异常，请检查');
					};

				},
				error:function(){
					alert("异常");
				}
		});
	}
}
</script> -->
{% endblock %}